.section{
  margin-bottom: 168px;
}

.section__box{
  background-image: url("../images/Bitmap\ \(2\).png");
  background-size: cover;
  
}


.section__little__box{
  padding-top: 134px;
  padding-left: 86px;
}




.section__text{
  font-family: "Fraunces" , "serif";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  color: #FEFCF7;
  margin: 0px;
}

.section__poragraf-case{
  width: 445px;
}
.section__poragraf{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
margin: 0px;
margin-top: 32px;
padding-bottom: 134px;
color: #FEFCF7;
opacity: 0.8;

}